html,
body {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
}

.section {
    padding: 1rem;
}

.main-flex-wrapper {
    a {
        color: #00d1b2;
    }
}
