<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js + Socket.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="npm/bulma/css/bulma.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="columns">
        <div class="column is-two-thirds">
            <section class="section">
                <div id="chat" class="box">
                    <ul class="messages">
                        <li v-for="message in messages">
                            <div class="message">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img :src="message.pict" alt="profilePict">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong v-text="message.user"></strong>
                                                <small v-text="message.time"></small>
                                                <p v-text="message.message"></p>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </li>
                    </ul>
                    <a v-if="isLoading" class="button is-primary is-loading">Loading</a>
                    <div v-if="!isLoading">
                        <div v-if="!user" class="control is-grouped">
                            <p class="control">
                                <button v-on:click="login($event)" class="button is-primary">
                                  <span class="icon">
                                    <i class="fa fa-github"></i>
                                  </span>
                                  <span>GitHub login</span>
                              </button>
                            </p>
                        </div>
                        <div v-if="user">
                            <form v-on:submit.prevent="clickSubmit(input, $event)">
                                <small>Press ENTER to submit</small>
                                <p class="control">
                                    <textarea v-model="input" v-on:keydown="keySubmit(input, $event)" class="textarea" placeholder="Write message"></textarea>
                                </p>
                                <br>
                                <div class="control is-grouped">
                                    <p class="control">
                                        <button v-on:click="clickSubmit(input, $event)" class="button is-primary" :disabled="!input">Submit</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
            </section>
            </div>
            <div class="column">
                <section class="section">
                    <div id="notification" v-if="visible">
                        <div v-for="(data, index) in datas" v-if="data.show" class="notification is-primary">
                            <button v-on:click="dismiss(index)" class="delete"></button>
                            <em v-text="data.displayName"></em> connected
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script src="npm/moment/min/moment-with-locales.min.js"></script>
        <script src="npm/socket.io-client/dist/socket.io.js"></script>
        <script src="npm/firebase/firebase.js"></script>
        <script src="npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
</body>

</html>
