<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TWITTER SOCIAL SHARE -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="http://">
    <!-- FACEBOOK SOCIAL SHARE -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://" />
    <meta property="og:image" content="http://" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#ff0000">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
    <title>Develop Project</title>
</head>

<body>
    <section id="chat" class="section">
        <div class="container">
            <div class="card" v-if="messages.length <= 0">
                <div class="card-content">
                    <div class="content">
                        <p>No messages</p>
                    </div>
                </div>
            </div>
            <div class="card" v-else v-for="message in messages">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <a target="_blank" :href="'http://github.com/' + message.user">
                                  <img :src="message.pict" alt="Profile Pict">
                                </a>
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">
                                <a target="_blank" :href="'http://github.com/' + message.user" v-text="'@' + message.user"></a>
                            </p>
                            <p class="subtitle is-6" v-text="message.name"></p>
                        </div>
                    </div>
                    <div class="content">
                        <p v-text="message.message"></p>
                        <a href="#">#hashtag1</a> <a href="#">#hashtag2</a>
                        <br>
                        <time class="is-size-7" v-bind:datetime="message.time" v-text="message.time"></time>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div v-if="isLoading">
                <a class="button is-primary is-loading is-outlined">Loading</a>
            </div>
            <div v-else>
                <div v-if="user">
                    <form v-on:submit.prevent="clickSubmit(input, $event)">
                        <small>Press ENTER to submit</small>
                        <p class="control">
                            <textarea v-model="input" v-on:keydown="keySubmit(input, $event)" class="textarea" placeholder="Write message"></textarea>
                        </p>
                        <br>
                        <div class="control is-grouped">
                            <p class="control">
                                <button v-on:click="clickSubmit(input, $event)" class="button is-primary" :disabled="!input">Submit</button>
                            </p>
                        </div>
                    </form>
                </div>
                <div v-else class="control is-grouped">
                    <p class="control">
                        <button v-on:click="login($event)" class="button is-primary is-outlined">
                            <span class="icon">
                              <i class="fa fa-github"></i>
                            </span>
                            <span>GitHub login</span>
                        </button>
                    </p>
                </div>
            </div>
    </section>
    <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
</body>

</html>
